/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/***** GENERIC STYLES *************/
/**********************************/

body{
	background-color: #d7eaf4;
	font-style: Helvetica, Arial, sans-serif;
}



.wrapper{
	width: 95%;
	margin: 0 auto; 
	padding-bottom: 0;
}

.main_navigation{
	display: block;

}

.main_navigation ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main_navigation li{
	display: block;
	margin-bottom: 5px;
}

.main_navigation a{
	display: block;
	padding: 15px;
	border-radius: 6px;
	background-color: background: rgb(76,101,183); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76,101,183,1) -1%, rgba(76,101,183,1) 0%, rgba(76,101,183,1) 0%, rgba(26,40,154,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,rgba(76,101,183,1)), color-stop(0%,rgba(76,101,183,1)), color-stop(0%,rgba(76,101,183,1)), color-stop(100%,rgba(26,40,154,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(76,101,183,1) -1%,rgba(76,101,183,1) 0%,rgba(76,101,183,1) 0%,rgba(26,40,154,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(76,101,183,1) -1%,rgba(76,101,183,1) 0%,rgba(76,101,183,1) 0%,rgba(26,40,154,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(76,101,183,1) -1%,rgba(76,101,183,1) 0%,rgba(76,101,183,1) 0%,rgba(26,40,154,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(76,101,183,1) -1%,rgba(76,101,183,1) 0%,rgba(76,101,183,1) 0%,rgba(26,40,154,1) 100%); /* W3C */;
	color: white;
	text-decoration: none;
}

.main_navigation a:hover{
	background: orange;
}

.bigimg{
	display:none;
}

.biggestimg{
	display:none;
}

.artimg1{
	display: block;
	width:340px;
	margin: 0 auto;
}

.artimg2{
	display: block;
	width:340px;
	margin: 0 auto;
}

@media screen and (min-width: 600px){
	
	.bigimg{
		width: 30%;
		float: right;
		display: block;
	}

	.artimg1{
		display: block;
		width: 340px;
		float: right;
	}

	.artimg2{
		display: block;
		width: 340px;
		float: left;
		padding-right: 20px;
	}
	

	.related .bigimg{
		display: block;
		width: 15%;
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}

	.intro{
		padding: 20px;
	}

	.bottom nav{
		width: 80%;
		margin: 0 auto;
	}

	.bottom ul{
		width: 49%;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
}

@media screen and (min-width: 800px){
	
	.main_content{
		float: left;
		width: 70%;
		padding-right: 4%;
	}

	.related{
		color: white;
	}

	.related img{

	}

	footer{
		clear: both;

	}

	.biggestimg{
		display:block;
		float: right;
	}

	
	.related a{
	
		background-color: background: rgb(169,164,208); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(169,164,208,1) 2%, rgba(169,164,208,1) 2%, rgba(168,162,208,1) 4%, rgba(115,100,186,1) 100%, rgba(115,100,186,1) 100%, rgba(115,100,186,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(169,164,208,1)), color-stop(2%,rgba(169,164,208,1)), color-stop(4%,rgba(168,162,208,1)), color-stop(100%,rgba(115,100,186,1)), color-stop(100%,rgba(115,100,186,1)), color-stop(100%,rgba(115,100,186,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(169,164,208,1) 2%,rgba(169,164,208,1) 2%,rgba(168,162,208,1) 4%,rgba(115,100,186,1) 100%,rgba(115,100,186,1) 100%,rgba(115,100,186,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(169,164,208,1) 2%,rgba(169,164,208,1) 2%,rgba(168,162,208,1) 4%,rgba(115,100,186,1) 100%,rgba(115,100,186,1) 100%,rgba(115,100,186,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(169,164,208,1) 2%,rgba(169,164,208,1) 2%,rgba(168,162,208,1) 4%,rgba(115,100,186,1) 100%,rgba(115,100,186,1) 100%,rgba(115,100,186,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(169,164,208,1) 2%,rgba(169,164,208,1) 2%,rgba(168,162,208,1) 4%,rgba(115,100,186,1) 100%,rgba(115,100,186,1) 100%,rgba(115,100,186,1) 100%); /* W3C */
	}

	.bigimg, .related .bigimg{
		display: none;
	}

	.column {
	display: inline-block;
	width: 47%;
	padding: 1%;
	vertical-align: top;
	text-align: left;
}
	.cubism{
		border-bottom: none;
	}

}

img{
	margin: auto;
}

/***** SPECIFIC STYLES ************/
/**********************************/
header{
	text-align: center;
}

.intro{
	background-color: #ffffff;
}

h1, h2, h3{
	color: #202d9d;
}

.cubism{
	border-bottom: 2px solid #8781bd;
	padding-bottom: 20px;
}

.related{
	color: #ffffff;
	background-color: #8781bd;

}

.related h2{
	color: #ffffff;
	border-bottom: 2px solid #aba7d1;
	padding-bottom: 20px;

}
.related h3{
	color: #c6effb;
}

.related ul{
	list-style: none;
	text-align: left;
	margin-bottom: 0px;
	padding-left: 0;
}

.related li:last-child{
	margin-bottom: 0px;
}

.related li{
	border-bottom: 2px solid #aba7d1;
	padding-bottom: 20px;
	padding-left: 0;	
	
}

.related a{
	display: block;
	float: right;
	margin-right: 20px;
}

.related a:link{
	color: #caf6ff;
}

.related a:active{
	color: #caf6ff;
}

.related a:hover{
	color: #caf6ff;
}

.related a:visited{
	color: #caf6ff;
}

.bottom{
	background-color: #4c486d;
	margin-top: 0px;
	padding-top: 40px;
	text-align: center;
}

.bottom ul{
	list-style: none;
	margin: 0;
	padding: 0 0 40px 0;
}

.bottom li{
	padding: 5px;
}

.bottom a{
	color: #ffffff;
}
.bottom a:link{
	color: #ffffff;
}

.bottom a:active{
	color: #ffffff;
}

.bottom a:hover{
	color: #ffffff;
}

.bottom a:visited{
	color: #ffffff;
}